body {
background-color: rgb(151, 193, 230);
display: inline-flexbox;
font-family: "Odibee Sans", sans-serif;
text-align: center;
}

.topcontainer {
text-align: center;
font-family: "Odibee Sans", sans-serif;
}

.fw-dark {
font-size: xx-large;
}

.Enjoy {
font-style: oblique;
font-size: larger;
text-decoration: wavy;
}

.imgcenter {
background-color: rgb(151, 193, 230);
padding: 1px;
border-radius: 1rem; 
height: 510px;
text-align: center;
opacity: 85%; 
}

.middlecontainer {
font-family: 'Times New Roman', Times, serif;
background-color: antiquewhite;
padding: 10px;
} 

#bottom {
padding: 1px;
align-items: center;
}

.profile {
align-items: center;
border-radius: 40px;
}

.gif {
align-items: center;
position: relative;
}

.bi-image {
background-color: rgb(151, 193, 230);
color: darkblue;

}

.Emre {
font-family: 'Courier New', Courier, monospace; 
color: darkblue;
font-style: italic;
text-decoration: underline
}

.bi-linkedin {
    height: 50px;
    width: 50px;
    margin: 1%;
}

.bi-twitter-x {
    height: 50px;
    width: 50px;
    color: black;
    margin: 1%;
}

.bi-envelope-fill {
    height: 50px;
    width: 50px;
    margin: 0.7%;
}

.copyright {
    font-family: "Odibee Sans", sans-serif;
    font-size: x-large;
}

